
@import 'base/reset';
@import 'base/mixins';

body {
  @include between-breakpoints(0px, 800px) {
    background-color: pink;
  }
  @include breakpoint(801px) {
    background-color: greenyellow;
  }
}

p {
  color: inherit;
}

div {}


.car.dog.win.lose {
  font-weight: bold;
}

#cat {
}